body 
{
    /* Setting Background Image */
    background-image: url('../Assets/Images/background.png');
    background-position: center;
    background-size: cover;
}

/* Styling for Title Page */

#titlePage
{
    display: block;
    width: 540px;
    height: 300px;
    background-color: #000000;
    border-radius: 15px;
    border: 5px dotted #ffffff;
}

#titlePage p
{
    margin-top: 50px;
    font-size: 76px;
    font-family: 'Consolas';
    color: #31B404;
    text-align: center;
}

#titlePage a
{
    font-size: 36px;
    text-decoration: none;
    color: #0000FF;
    font-weight: bold;
}

#titlePage a:hover
{
    font-size: 36px;
    text-decoration: none;
    color: #B40404;
    font-weight: bold;
}



/* Styling for pages that uses step */

.impress-enabled .step 
{
    margin: 0;
    opacity: 0.0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: background 1s;
}

/* Styling for pages that are active */

.impress-enabled .step.active 
{
    opacity: 1;
}

.slide {
    display: block;
    width: 850px;
    height: 600px;
    padding: 60px 40px;
    background-color: #000000;
    color: #31B404;
    text-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 25px;
    font-family: Consolas;
    font-size: 26px;
}

/* Styling for slide paragraphs */

.slide p{
    margin-top: 5px;
    line-height: 45px;
}


/* Styling for links on slides and visited links*/
.slide a
{
    color: #31B404;
    text-decoration: none; /* Removing underlines */
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;   
}

/* Styling for div items with class menu*/
div.menu
{
    position: absolute;
    bottom: 50px;
    left: 385px;
    font-size: 38px;
}

div.menu a:hover
{
    border: 1px solid #31B404;
}

/* Styling for links on slides when active and hovered*/
.slide a:hover, .slide a:active
{
    border-radius: 5px;
}

/* Centering text area */
.centerText
{
    text-align:center;
}

.selectionLink a:hover
{
    border: 1px solid #31B404;
}

.continue
{
    padding-top: 50px;
    text-align:center;
}

.continue a:hover
{
    border: 1px solid #31B404;
}